<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74243864435-459ndmbeg0fn74qe8oqdtg742344gc44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74243864435-459ndmbeg0fn74qe8oqdtg742344gc44</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74243864435-7pil5rou5qvfpchtjv6emtqamn9gr66i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsPFl0KaSonRLUg8ZPnj5CoIXCm2O3V6s</string>
	<key>GCM_SENDER_ID</key>
	<string>74243864435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trustwork</string>
	<key>PROJECT_ID</key>
	<string>workerfirebase-f1005</string>
	<key>STORAGE_BUCKET</key>
	<string>workerfirebase-f1005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74243864435:ios:bf5c183deb975b446cf706</string>
	
</dict>
</plist>